$breakpoints: (
  "phone": 760px,
  "tablet": 1024px,
  "desktop": 1920px,
) !default;

@import "../node_modules/include-media/dist/include-media";

.home__invest {
  background-color: var(--piggyWhite);
  padding: 30.253rem 9.4rem 0;
  font-family: var(--piggySansBody);
  position: relative;
  @include media("<phone") {
    padding: 12rem 2.8rem 0;
    margin-top: -2rem;
  }
}

.home__invest__wrapper {
  display: grid;
  justify-content: center;
  @include media("<phone"){
    display: block;
  }
}

.home__invest__intro {
  padding: 2rem 3.06rem;
  border-radius: 10rem;
  background: var(--piggyOffPurple);
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 100%rem;
  letter-spacing: 0.15em;
  width: fit-content;
  color: var(--piggyPurple);
  margin: 0 auto;
}

.home__invest__title {
  font-family: Aeonik;
  font-size: 6.4rem;
  font-weight: 500;
  line-height: 7rem;
  text-align: center;
  width: 62.3rem;
  margin: 4.7rem auto 0;
  @include media("<phone"){
    text-align: center;
    font-size: 3.4rem;
    line-height: 0.9375;
    width: 100%;
  }
}

.home__invest__subtitle {
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.7rem;
  text-align: center;
  width: 62.3rem;
  margin: 1.6rem auto 0;
  color: var(--piggyGray);
  @include media("<phone"){
    width: 100%;
    margin-top: 3.2rem;
  }
}

.home__invest__link {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 100%;
  text-decoration: underline;
  text-underline-offset: 0.25rem;
  text-align: center;
  margin-top: 4.8rem;
  color: var(--piggyPurple);
  @include media("<phone"){
    margin-top: 3.2rem;
    display: block;
    text-align: center;
  }
}

.home__invest__doodles {
  position: absolute;
  width: 132.442rem;
  height: 59.842rem;
  top: 17.453rem;
  @include media("<phone"){
    display: none;
  }

  span:nth-of-type(1) {
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 6.2rem;
    text-align: center;
  }

  span:nth-of-type(2) {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2.4rem;
  }

  svg {
    width: 58.771rem;
    height: 21.704rem;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}

.home__invest__doodle {
  position: absolute;
  display: grid;
  background-color: var(--piggyDarkWhite);
  border-radius: 50%;
  width: 20.142rem;
  height: 20.142rem;
  place-content: center;
  gap: 0.4rem;

  &:nth-of-type(1) {
    left: 0;
    top: 39.7rem;
  }

  &:nth-of-type(2) {
    left: 12.75rem;
    top: 18.6rem;
  }

  &:nth-of-type(3) {
    right: 12.75rem;
    top: 18.6rem;
  }

  &:nth-of-type(4) {
    right: 0;
    top: 39.7rem;
  }
}

.home__invest__media {
  margin-top: 20.2rem;
  display: flex;
  @include media("<phone"){
    margin-top: -19rem;
    margin-left: -16rem;
    transform: scale(0.45);
  }

  img:nth-of-type(1) {
    width: 44.3rem;
    height: 90.247rem;
    margin-top: 12.4rem;
    margin-right: -19rem;
  }

  img:nth-of-type(2) {
    width: 44.3rem;
    height: 90.247rem;
    position: relative;
    z-index: 10;
  }

  img:nth-of-type(3) {
    width: 44.3rem;
    height: 90.247rem;
    margin-top: 12.4rem;
    margin-left: -19rem;
  }
}
