/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* added by Goody */

* {
  box-sizing: border-box;
  -webkit-user-drag: none;
}

::-webkit-scrollbar {
  display: none !important;
}

a {
  color: inherit;
  text-decoration: none;
}

img,
video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

input,
textarea,
button,
select,
a,
div,
* {
  -webkit-tap-highlight-color: transparent;
}

svg,
object {
  display: block;
  width: inherit;
  height: inherit;
}

button {
  border: none;
  cursor: pointer;
}

input {
  outline: none !important;
}

.dg {
  z-index: 600;
}

html,
body {
  scroll-behavior: auto !important;
  overscroll-behavior-x: none;
  -webkit-text-size-adjust: none;
}

.ScrollSmoother-wrapper {
  pointer-events: none;
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --piggyWhite: #ffffff;
  --piggyOffWhite: #dde7f3;
  --piggyLightWhite: #f1f5f9;
  --piggyDarkWhite: #f2f2f2;
  --piggyGray: #475569;
  --piggyOffGray: #9fb1c7;
  --piggyBlack: #0f172a;
  --piggyOffBlack: #334155;
  --piggyBlue: #121f3d;
  --piggyOffBlue: #3b82f6;
  --piggyLightBlue: #93c5fd;
  --piggyPurple: #7913e5;
  --piggyOffPurple: #f7f0ff;
  --piggySansBody: DM Sans;
  --piggySansTitle: Aeonik;
}

@font-face {
  font-family: "Aeonik";
  font-weight: 500;
  src: url("https://db.onlinewebfonts.com/t/757ff6da05e4f945c71c9751b485a9ad.eot");
  src: url("https://db.onlinewebfonts.com/t/757ff6da05e4f945c71c9751b485a9ad.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/757ff6da05e4f945c71c9751b485a9ad.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/757ff6da05e4f945c71c9751b485a9ad.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/757ff6da05e4f945c71c9751b485a9ad.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/757ff6da05e4f945c71c9751b485a9ad.svg#Aeonik Medium")
      format("svg");
}
